:root {
    --header-color: #ea5082;
    --background: #efeded;
    --input-color: rgba(255, 255, 255, 0.23);
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    overflow-y: hidden;

    background-image: url(https://static.pexels.com/photos/2855/landscape-mountains-nature-lake.jpg);
    background-attachment: fixed;
    background-size: cover;

    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

main {
    overflow-x: hidden;

    width: 27em;
    height: 45em;
    margin-top: 5%;

    animation: slideInLeft 2s;

    background-color: var(--background);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

header {
    position: relative;

    display: flex;

    height: 5em;

    background-color: var(--header-color);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06), 0 3px 6px rgba(0, 0, 0, 0.13);

    justify-content: center;
    align-items: center;
}

header input {
    width: 90%;
    height: 3.5rem;
    padding: 0 3em 0 1em;

    color: white;
    border: 0;
    border-radius: 0.3rem 2rem 2rem 0.3rem;
    outline: none;
    background-color: var(--input-color);

    font-size: 1em;
}

header ::-webkit-input-placeholder {
    color: white;
}

header button {
    position: absolute;
    right: 5%;

    width: 3.5rem;
    height: 3.5rem;

    border: 0;
    border-radius: 50%;
    background-color: white;
}

.fa-plus {
    color: var(--header-color);
}

ul {
    display: flex;

    width: 100%;

    list-style: none;

    justify-content: center;
    flex-wrap: wrap;
}

ul li {
    position: relative;

    display: flex;

    width: 90%;
    min-height: 3.5em;
    margin: 0.4em;
    padding: 0 3em 0 1em;

    transition: all 0.5s;

    border-radius: 0.3rem;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    align-items: center;
}

ul li:first-of-type {
    margin-top: 1em;
}

ul li button {
    position: absolute;
    top: 0.4em;
    right: 2%;

    width: 2.4em;
    height: 80%;

    cursor: pointer;

    border: none;
    background-color: white;
}

ul li button:focus {
    outline: none;
}

ul li button i {
    cursor: pointer;
    transition: 0.5s;

    color: #a09f9f;
}

ul li button i:hover {
    color: var(--header-color);
}

ul:empty:after {
    margin-top: 3em;

    content: 'You don\'t have anything to do ';

    color: rgba(8, 7, 7, 0.56);
}

.credit {
    position: absolute;
    right: 2em;
    bottom: 2.5em;

    display: none;

    color: white;
}

.credit p {
    animation: slideInBottom 2.5s;
}

.credit a {
    display: inline-block;

    transition: all 0.6s;
    text-decoration: none;

    color: white;

    font-size: 1.em;
}

.credit a:hover {
    color: var(--header-color);
}

.verwijder {
    transform: translateX(30em);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInBottom {
    from {
        transform: translateY(100vh);
    }
    to {
        transform: translateY(0);
    }
}

@media (max-width:27em) {
    body {
        background-image: none;
    }
    main {
        height: 100vh;
        margin: 0;
    }
    .credit {
        display: none;
    }
}

@media(min-width: 67.5em) {
    .credit {
        display: block;
    }
}
